@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet');


html,
body {
    height: 100%;
}

.greetings,
p,
h1, 
h2 {
    font-family: 'Verdana';
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #bcf5f5;
    padding: 15px;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11%;
    margin-bottom: 2em;
    background-color: #e7d0e6;
}

ul  {
    display: flex;
    list-style-type: none;
}

ul li {
    margin-right: 50px;
}

li a {
    text-decoration: none;
    font-family: 'Verdana';
    font-size: 1.2rem;
    color: #5a6972;
    font-weight: 800;
}

.logo img {
    width: 50px;
    height: 70px;
    margin-left: 35px;
}

.about_me {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.data {
    display: flex;
    align-items: center;
}

.fullname {
    margin-right: 20px;
    flex-basis: 750px;
}

.myImg {
    margin-top: 150px;
    padding-left: 15px;
    flex-basis: 450px;
}

.knowledge {
    display: flex;   
    justify-content: center;
}

.article {
    margin-top: 1.5em;   
}


p {
    font-size: 1.2rem;
    color: #08298A;
    padding-left: 20px;
}

.text {
    font-size: 1rem;
    color: #a389af;
}

h2 {
    text-align: center;
    color: #424242;
}

h1 {
    color: #df9029;
    text-align: center;
    font-size: 2rem;
}

.footer {
    background-color: #b6eca9;
    flex: 0 0 auto;
}